<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EventHive_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.eventHive.controllers.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eventController</display-name>
    <servlet-name>eventController</servlet-name>
    <servlet-class>com.eventHive.controllers.eventController</servlet-class>
    <multipart-config>
      <max-file-size>5242880</max-file-size>
      <max-request-size>10485760</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventController</servlet-name>
    <url-pattern>/eventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userController</display-name>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.eventHive.controllers.userController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/userController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminController</display-name>
    <servlet-name>adminController</servlet-name>
    <servlet-class>com.eventHive.controllers.adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminController</servlet-name>
    <url-pattern>/adminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ticketController</display-name>
    <servlet-name>ticketController</servlet-name>
    <servlet-class>com.eventHive.controllers.ticketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticketController</servlet-name>
    <url-pattern>/ticketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.eventHive.controllers.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>com.eventHive.controllers.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inquiryController</display-name>
    <servlet-name>inquiryController</servlet-name>
    <servlet-class>com.eventHive.controllers.inquiryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiryController</servlet-name>
    <url-pattern>/inquiryController</url-pattern>
  </servlet-mapping>
</web-app>