.admin-dasboard-header{
	font-family: var(--primary-font);
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	color: var(--color-blue-1);
	border-bottom: 3px solid var(--color-blue-1);
	
}
.admin-website-view{
	display: flex;
	justify-content: flex-end;
	font-family: var(--primary-font);
	margin: 20px 152.5px 0px 0px;
	text-decoration: none;
	
}
.admin-website-view a{
	text-decoration: none;
	padding: 10px 20px;
	border: 2px solid var(--color-blue-1);
	border-radius: 4px;
}
.admin-website-view a:hover{
	background-color: var(--color-blue-1);
	color: var(--color-white);
}
.admin_remove_event_btn{
	background-color: var(--color-white);
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: var(--primary-font);
	font-weight: 700;
	cursor: pointer;
}
.admin-managge-users-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0px 30px 0px;
}
#admin_add_user_name{
	margin: 20px 0px 0px 0px;
}
.adminadduers-form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.admin-addusers-inputs{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.admin-addusers-inputs-label{
	
}
.admin-section-add-user-input-fields{
	width: 350px;
	padding: 15px 10px;
	font-family: var(--primary-font);
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: var(--color-white-2);
}
.admin-adduser-user-role{
	
}
.admin-section-adduser-submitbtn{
	margin: 20px 0px 30px 0px;
	border: none;
	border-radius: 5px;
	padding: 13px 60px;
	font-family: var(--primary-font);
	color: var(--color-white);
	letter-spacing: 1px;
	font-size: 18px;
	background-color: var(--color-blue-2);
	cursor: pointer;
}
.admin-ticket-dashboard-showcase{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin: 15px 0px 0px 0px;
}
.dashboard-showcase-element form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.dashboard-showcase-element form input{
	border: none;
	background-color: var(--color-blue-1);
	color: var(--color-white);
	font-family: var(--primary-font);
	text-align: center;
}
.dashboard-showcase-element form input[type="submit"]{
	background-color: var(--color-white);
	color: var(--color-blue-1);
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
}